# 2021 Names

In [2]:
import pandas as pd
import numpy as np
import cleandata as cd

In [3]:
df = pd.read_csv('../data/Gemeinde_Exekutive - daten.csv')

## Clean Data

In [4]:
df = cd.clean(df)

df['Name_cleaned'] =  df['Name_cleaned'].str.strip()

# Lowercase
df['Name_cleaned'] =  df['Name_cleaned'].str.lower()

# Cut Names
df['firstname'] = df['Name_cleaned'].apply(lambda x: x.split(' ')[0])
df['lastname'] = df['Name_cleaned'].apply(lambda x: x.split(' ')[-1])

Jahrgänge nicht zugeordnet: 0
Partei nicht zugeordnet: 9
Keine Jahrgänge: 18

# Vergleich Präsidentinnen und Namen

In [5]:
df[df.Funktion == 'chair'].groupby('Geschlecht').count()

,Gemeinde,Name,Name_cleaned,Jahrgang,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,firstname,lastname
Geschlecht,,,,,,,,,,,,,,
m,133,133,133,131,132,133,5,133,133,133,131,133,133,133
w,29,29,29,28,29,29,1,29,29,29,28,29,29,29

In [6]:
print(df[df.Funktion == 'chair'].groupby('firstname').count().sort_values('Name', ascending=False).reset_index()['firstname'].head(5).tolist())
df[df.Funktion == 'chair'].groupby('firstname').count().sort_values('Name', ascending=False)['Gemeinde'].head(5).sum()

['peter', 'jürg', 'urs', 'martin', 'christoph']

30

Es gibt mehr Präsidenten mit Namen ^ als Präsidentinnen insgesamt

## Top Names

In [13]:
# Männer
df[df.Geschlecht == 'm'].groupby('firstname').count().sort_values('Name', ascending=False).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,lastname
firstname,,,,,,,,,,,,,,
peter,34,34,34,34,34,34,9,1,34,34,34,34,34,34
thomas,29,29,29,28,29,29,1,0,29,29,29,28,29,29
andreas,28,28,28,26,28,28,5,1,28,28,28,26,28,28
markus,25,25,25,25,25,25,3,0,25,25,25,25,25,25
martin,24,24,24,24,24,24,5,0,24,24,24,24,24,24

In [8]:
# Frauen
df[df.Geschlecht == 'w'].groupby('firstname').count().sort_values('Name', ascending=False).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,lastname
firstname,,,,,,,,,,,,,,
barbara,12,12,12,12,12,12,3,0,12,12,12,12,12,12
susanne,11,11,11,11,11,11,0,0,11,11,11,11,11,11
karin,10,10,10,10,10,10,1,0,10,10,10,10,10,10
claudia,7,7,7,6,7,7,1,0,7,7,7,6,7,7
heidi,7,7,7,7,7,7,0,0,7,7,7,7,7,7

## Nachname

In [9]:
# Männer
df[df.Geschlecht == 'm'].groupby('lastname').count().sort_values('Name', ascending=False).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,firstname
lastname,,,,,,,,,,,,,,
meier,17,17,17,17,17,17,1,1,17,17,17,17,17,17
müller,11,11,11,11,11,11,3,0,11,11,11,11,11,11
huber,10,10,10,10,10,10,1,0,10,10,10,10,10,10
schmid,7,7,7,7,7,7,2,0,7,7,7,7,7,7
keller,7,7,7,7,7,7,0,0,7,7,7,7,7,7

In [10]:
# Frauen
df[df.Geschlecht == 'w'].groupby('lastname').count().sort_values('Name', ascending=False).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,firstname
lastname,,,,,,,,,,,,,,
huber,4,4,4,4,4,4,1,0,4,4,4,4,4,4
meier,3,3,3,3,3,3,0,0,3,3,3,3,3,3
ammann,3,3,3,3,3,3,1,0,3,3,3,3,3,3
weber,3,3,3,3,3,3,1,0,3,3,3,3,3,3
erni,2,2,2,2,2,2,0,0,2,2,2,2,2,2

In [12]:
df[(df.firstname == 'barbara')]

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,firstname,lastname
85,Marthalen,"Griesser Hohl Barbara, Gemeinderätin, 1969, pa...",barbara griesser hohl,1969,w,parteilos,NaN,NaN,False,False,x,52,parteilos,barbara,hohl
101,Rorbas,"Grüter Barbara, Vizepräsidentin, SVP, Jg. 1976",barbara grüter,1976,w,SVP,NaN,NaN,False,False,x,45,svp,barbara,grüter
194,Kilchberg (ZH),Barbara Baruffol,barbara baruffol,1971,w,FDP,NaN,NaN,False,False,x,50,fdp,barbara,baruffol
202,Flaach,Frauenfelder Barbara,barbara frauenfelder,1982,w,parteilos,NaN,NaN,False,False,x,39,parteilos,barbara,frauenfelder
421,Flurlingen,"Renggli Barbara, 1968,",barbara renggli,1968,w,parteilos,NaN,NaN,False,False,x,53,parteilos,barbara,renggli
467,Birmensdorf (ZH),"Barbara Puricelli, FDP, 1961",barbara puricelli,1961,w,FDP,NaN,NaN,False,False,x,60,fdp,barbara,puricelli
520,Bäretswil,Schoch Gübeli Barbara,barbara schoch gübeli,1979,w,FDP,NaN,NaN,False,False,x,42,fdp,barbara,gübeli
680,Russikon,"Schmid, Barbara",barbara schmid,1960,w,SVP,NaN,NaN,False,False,x,61,svp,barbara,schmid
796,Uster,Thalmann Stammbach Barbara,barbara thalmann stammbach,1966,w,SP,chair,NaN,False,False,x,55,sp,barbara,stammbach
877,Otelfingen,"Barbara Schaffner, Gemeindepräsidentin, 1968, ...",barbara schaffner,1968,w,glp,chair,NaN,False,False,x,53,glp,barbara,schaffner
936,Dielsdorf,"Barbara Dittli, geb. 1974, parteilos",barbara dittli,1974,w,parteilos,NaN,NaN,False,False,x,47,parteilos,barbara,dittli
968,Fischenthal,Dillier Barbara,barbara dillier,1973,w,parteilos,chair,NaN,False,False,x,48,parteilos,barbara,dillier

## Peter Meiers: Achtung, gibt einen peter meier-neves!

In [ ]:
df[(df.firstname == 'peter') & (df.lastname == 'meier')]