# 2021 Gender

In [37]:
import pandas as pd
import numpy as np
import math
import cleandata as cd

In [16]:
df = pd.read_csv('../data/Gemeinde_Exekutive - daten.csv')

## Clean Data

In [17]:
df = cd.clean(df)

Jahrgänge nicht zugeordnet: 0
Partei nicht zugeordnet: 9
Keine Jahrgänge: 18

## Geschlechterverhältnis

In [18]:
grGender = df.groupby('Geschlecht').agg({'Name': 'count'})
grGender['prozent'] = round(100 / len(df) * grGender.Name, 1)
grGender

            Name  prozent
Geschlecht
m            736     72.4
w            281     27.6

## Der Durchschnitts-Gemeinderat (m/w) ist...

In [33]:
df_alter = df[df.Alter.notna() & df.jahrgang_nicht_zugeordnet.notna()]
print("Männlich")
print("%s Jahre alt" % round(df_alter.Alter.mean(), 1))
print("parteilos")

Männlich
55.7 Jahre alt
parteilos

## Die Durchschnitts-Gemeinderätin (w) ist...

In [31]:
df_alter = df[df.Alter.notna() & df.jahrgang_nicht_zugeordnet.notna()]
print("%s Jahre alt" % round(df_alter[df_alter.Geschlecht == 'w'].Alter.mean(), 1))
print("parteilos")

54.7 Jahre alt
parteilos

## Der Durchschnitts-Gemeinderat (m) ist...

In [32]:
df_alter = df[df.Alter.notna() & df.jahrgang_nicht_zugeordnet.notna()]
print("%s Jahre alt" % round(df_alter[df_alter.Geschlecht == 'm'].Alter.mean(), 1))
print("parteilos")

56.0 Jahre alt
parteilos

## Gendereinseitige Gemeinderäte

In [8]:
df_g = pd.pivot_table(df, 'Name', 'Gemeinde', columns='Geschlecht', aggfunc='count')
df_g['w'] = df_g['w'].fillna(0)
df_g['total'] = df_g.m + df_g.w
df_g['m%'] = round(100 / df_g.total * df_g.m)
df_g['w%'] = round(100 / df_g.total * df_g.w)
df_g[df_g['m%'] == 100]

Geschlecht             m    w  total     m%   w%
Gemeinde
Dachsen              5.0  0.0    5.0  100.0  0.0
Dietikon             7.0  0.0    7.0  100.0  0.0
Dägerlen             5.0  0.0    5.0  100.0  0.0
Ellikon an der Thur  5.0  0.0    5.0  100.0  0.0
Humlikon             5.0  0.0    5.0  100.0  0.0
Oetwil am See        7.0  0.0    7.0  100.0  0.0
Regensdorf           7.0  0.0    7.0  100.0  0.0
Wasterkingen         5.0  0.0    5.0  100.0  0.0
Weiach               5.0  0.0    5.0  100.0  0.0
Wila                 5.0  0.0    5.0  100.0  0.0
Winkel               5.0  0.0    5.0  100.0  0.0
Zumikon              7.0  0.0    7.0  100.0  0.0

In [9]:
len(df_g[df_g['m%'] == 100])

12

### Die weiblichste Gemeinde

In [10]:
df_g = df_g.sort_values('w%', ascending=False)
df_g[df_g['w%'] >= 50]

Geschlecht         m    w  total    m%    w%
Gemeinde
Aeugst am Albis  3.0  5.0    8.0  38.0  62.0
Boppelsen        2.0  3.0    5.0  40.0  60.0
Regensberg       2.0  3.0    5.0  40.0  60.0
Kappel am Albis  2.0  3.0    5.0  40.0  60.0
Rifferswil       3.0  4.0    7.0  43.0  57.0
Rümlang          3.0  4.0    7.0  43.0  57.0
Wiesendangen     3.0  4.0    7.0  43.0  57.0
Kilchberg (ZH)   3.0  4.0    7.0  43.0  57.0
Uster            3.0  4.0    7.0  43.0  57.0
Marthalen        3.0  4.0    7.0  43.0  57.0
Ottenbach        3.0  3.0    6.0  50.0  50.0
Stallikon        3.0  3.0    6.0  50.0  50.0
Stammheim        3.0  3.0    6.0  50.0  50.0
Dättlikon        3.0  3.0    6.0  50.0  50.0
Mönchaltorf      3.0  3.0    6.0  50.0  50.0

In [11]:
df_g.sort_values('w', ascending=False).head()

Geschlecht         m    w  total    m%    w%
Gemeinde
Aeugst am Albis  3.0  5.0    8.0  38.0  62.0
Stäfa            5.0  4.0    9.0  56.0  44.0
Rifferswil       3.0  4.0    7.0  43.0  57.0
Rümlang          3.0  4.0    7.0  43.0  57.0
Wiesendangen     3.0  4.0    7.0  43.0  57.0

## Gemeinderäte mit nur Männer, nur Frauen

In [34]:
df_g = pd.pivot_table(df, 'Name', 'Gemeinde', columns='Geschlecht', aggfunc='count')
df_g['w'] = df_g['w'].fillna(0)
df_g['total'] = df_g.m + df_g.w
df_g['m%'] = round(100 / df_g.total * df_g.m)
df_g['w%'] = round(100 / df_g.total * df_g.w)

print('Reine Männer-Räte: %s' % len(df_g[df_g['m%'] == 100]))
print('Reine Frauen-Räte: %s' % len(df_g[df_g['w%'] == 100]))

Reine Männer-Räte: 12
Reine Frauen-Räte: 0

## Gemeinderäte mit Mehrheit Frauen/Männer

In [13]:
df_g = pd.pivot_table(df, 'Name', 'Gemeinde', columns='Geschlecht', aggfunc='count')
df_g['w'] = df_g['w'].fillna(0)
df_g['total'] = df_g.m + df_g.w
df_g['m%'] = round(100 / df_g.total * df_g.m)
df_g['w%'] = round(100 / df_g.total * df_g.w)

print("Männer mehr 50 Prozent: %s" % len(df_g[df_g['m%'] > 50]))
print("Frauen mehr 50 Prozent: %s" % len(df_g[df_g['w%'] > 50]))
print("Männer und Frauen = 50 Prozent: %s" % len(df_g[df_g['w%'] == 50]))

Männer mehr 50 Prozent: 147
Frauen mehr 50 Prozent: 10
Männer und Frauen = 50 Prozent: 5

## Das Gemeindepräsidium ('chair') ist...

In [14]:
df_pr = pd.pivot_table(df, index='Funktion', columns='Geschlecht', values='Name', aggfunc='count')
#df_pr = df_pr[df_pr.Funktion == 'chair']
df_pr['m%'] = round(100 / (df_pr['m'] + df_pr['w']) * df_pr['m'])
df_pr['w%'] = round(100 / (df_pr['m'] + df_pr['w']) * df_pr['w'])

df_pr.head()

Geschlecht    m   w    m%    w%
Funktion
chair       133  29  82.0  18.0
school        3   6  33.0  67.0

## Jüngsten Frauen

In [ ]:
df[df.Geschlecht == 'w'].sort_values('Alter', ascending=True).head()

## Einzelne Frau im Gemeinderat?

In [51]:
df_w = pd.pivot_table(df, index='Gemeinde', columns='Geschlecht', values='Name', aggfunc='count')
len(df_w[df_w.w == 1])

61

## Gemeindepräsidentinnen vs Präsidenten

In [50]:
df[df.Funktion == 'chair'].groupby('Geschlecht').count()

,Gemeinde,Name,Name_cleaned,Jahrgang,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c
Geschlecht,,,,,,,,,,,,
m,133,133,133,131,132,133,5,133,133,133,131,133
w,29,29,29,28,29,29,1,29,29,29,28,29

## Alter in 10 Jahren

In [109]:
df_a = df[df.Jahrgang.notna()].copy()
df_a['agerange'] = df_a['Alter'].apply(lambda x: "%s-%s" % (math.floor(x / 10) * 10, math.floor(x / 10) * 10 + 10))
#df_a.sort_values('Alter', ascending=True).head()

#df_a = pd.pivot_table(df_a, columns='Geschlecht', index='agerange', values='Name', aggfunc='count')
#df_a = df_a.groupby(['agerange', 'Geschlecht']).agg({'Name': 'count'}).reset_index()
df_a = df_a.groupby(['Alter', 'Geschlecht']).agg({'Name': 'count'}).reset_index()
df_a['index'] = df_a['Geschlecht'].apply(lambda x: 1 if x == 'm' else 0)
#df_a['index'] = df_a['ager'].apply(lambda x: 1 if x == 'm' else -1)

df_a.rename(columns={'Name': 'Anzahl'}, inplace=True)

df_a = df_a.fillna(0)

def f(row):
    if row['Geschlecht'] == 'm':
        return round(100 / df_a[df_a.Geschlecht == 'm']['Anzahl'].sum() * row['Anzahl'],1)
    else:
        return round(100 / df_a[df_a.Geschlecht == 'w']['Anzahl'].sum() * row['Anzahl'],1)

df_a['%'] = df_a.apply(f, axis=1)

#df_a['m%'] = round(100 / df_a['m'].sum() * df_a['m'])
#df_a['w%'] = round(100 / df_a['w'].sum() * df_a['w'])

#df_a = df_a[['m%', 'w%']]

df_a

#df_a.to_csv('../export/age_dots.csv')

#df_a.to_csv('../export/age_dots.csv')
#df_a.groupby(['Geschlecht', 'Alter']).agg({'Alter': 'count'}).head()

df_a[df_a.Geschlecht == 'w'].to_csv('../export/age_dots.csv', index=False)

In [118]:
df_a = df[df.Jahrgang.notna()].copy()
df_a['agerange'] = df_a['Alter'].apply(lambda x: "%s-%s" % (math.floor(x / 10) * 10, math.floor(x / 10) * 10 + 10))

#df_a = df_a.groupby(['agerange', 'Geschlecht']).agg({'Name': 'count'}).reset_index()
df_a = pd.pivot_table(df_a, index='agerange', columns='Geschlecht', values='Name', aggfunc='count')

df_a['m%'] = round(100 / df_a['m'].sum() * df_a['m'], 1)
df_a['w%'] = round(100 / df_a['w'].sum() * df_a['w'], 1)

df_a

Geschlecht    m    w    m%    w%
agerange
20-30         5    1   0.7   0.4
30-40        31    9   4.3   3.3
40-50       129   52  17.8  18.8
50-60       282  132  39.0  47.8
60-70       242   78  33.5  28.3
70-80        34    4   4.7   1.4

In [115]:
df_a.head()

Geschlecht    m    w         m%
agerange
20-30         5    1   0.691563
30-40        31    9   4.287690
40-50       129   52  17.842324
50-60       282  132  39.004149
60-70       242   78  33.471646

In [81]:
df_a = df[df.Jahrgang.notna()].copy()

#df_a = pd.pivot_table(df_a, columns='Geschlecht', index='Alter', values='Alter')

df_a = df_a[df_a.Geschlecht == 'w']

df_a = df_a[['Alter']]

df_a.head(20)
df_a.to_csv('../export/age_dots.csv', index=False)

In [79]:
df_a.head()

   Alter
1     57
2     42
4     63
11    54
14    54

## Wieviel Bevölkerung wird representiert?

In [180]:
# Load Bevölkerung
df_bev = pd.read_csv('../data/KANTON_ZUERICH_99.csv', sep=';', encoding='utf-8')
df_bev = df_bev[(df_bev.INDIKATOR_JAHR == 2020) & (df_bev.BFS_NR != 0)]

# Group Gemeinderäte
df_a = pd.pivot_table(df, columns='Geschlecht', index='Gemeinde', values='Name', aggfunc='count')

# Prozentualisieren
df_a['total'] = df_a['m'] + df_a['w']
df_a['w'] = df_a['w'].fillna(0)
#df_a['w%'] = round(100 / df_a['total'] * df_a['w'], 1)

# Join
df_a = df_a.reset_index()
df_bev['GEBIET_NAME'] = df_bev['GEBIET_NAME'].str.replace('a.A.', 'am Albis')
df_bev['GEBIET_NAME'] = df_bev['GEBIET_NAME'].str.replace(' ZH', ' (ZH)')
df_a = df_a.merge(df_bev, left_on = 'Gemeinde', right_on = 'GEBIET_NAME', how='left')

df_a['represent'] = df_a.apply(lambda row: row['INDIKATOR_VALUE'] / row['total'] * row['w'], axis=1)
df_a['represent'] = round(df_a['represent'])

w_represented = df_a['represent'].sum()
w_total = df_bev['INDIKATOR_VALUE'].sum()
w_not = round(100 / w_total * (w_total - w_represented))


print("Frauen repräsentieren: %s" % w_represented)
print("Frauen insgesamt: %s" % w_total)
print("So viele Frauen sind representiert: %s" % (100 - w_not))
print("So viele Frauen sind nicht representiert: %s" % w_not)

Frauen repräsentieren: 185670.0
Frauen insgesamt: 778364
So viele Frauen sind representiert: 24
So viele Frauen sind nicht representiert: 76

In [142]:
df_bev.head()

,BFS_NR,GEBIET_NAME,THEMA_NAME,SET_NAME,SUBSET_NAME,INDIKATOR_ID,INDIKATOR_NAME,INDIKATOR_JAHR,INDIKATOR_VALUE,EINHEIT_KURZ,EINHEIT_LANG,Unnamed: 11
29,1,Aeugst a.A.,Bevölkerung und Soziales,Bevölkerungsbestand und Haushalte,Bevölkerungsbestand,99,Bevölkerung: Frauen [Pers.],2020,1019,Pers.,Personen,NaN
59,2,Affoltern a.A.,Bevölkerung und Soziales,Bevölkerungsbestand und Haushalte,Bevölkerungsbestand,99,Bevölkerung: Frauen [Pers.],2020,6128,Pers.,Personen,NaN
89,3,Bonstetten,Bevölkerung und Soziales,Bevölkerungsbestand und Haushalte,Bevölkerungsbestand,99,Bevölkerung: Frauen [Pers.],2020,2847,Pers.,Personen,NaN
119,4,Hausen a.A.,Bevölkerung und Soziales,Bevölkerungsbestand und Haushalte,Bevölkerungsbestand,99,Bevölkerung: Frauen [Pers.],2020,1950,Pers.,Personen,NaN
149,5,Hedingen,Bevölkerung und Soziales,Bevölkerungsbestand und Haushalte,Bevölkerungsbestand,99,Bevölkerung: Frauen [Pers.],2020,1891,Pers.,Personen,NaN

In [178]:
len(df_bev[])

162