# 2021 Gender

In [35]:
import pandas as pd
import numpy as np
import cleandata as cd

In [36]:
df = pd.read_csv('../data/Gemeinde_Exekutive - daten.csv')

## Clean Data

In [37]:
df = cd.clean(df)

Jahrgänge nicht zugeordnet: 0
Partei nicht zugeordnet: 9
Keine Jahrgänge: 18

## Geschlechterverhältnis

In [38]:
grGender = df.groupby('Geschlecht').agg({'Name': 'count'})
grGender['prozent'] = round(100 / len(df) * grGender.Name, 1)
grGender

            Name  prozent
Geschlecht
m            736     72.4
w            280     27.5

## Der Durchschnitts-Gemeinderat (m/w) ist...

In [39]:
df_alter = df[df.Alter.notna() & df.jahrgang_nicht_zugeordnet.notna()]
print("Männlich")
print("%s Jahre alt" % round(df_alter.Alter.mean()))
print("parteilos")

Männlich
56 Jahre alt
parteilos

## Die Durchschnitts-Gemeinderätin ist...

In [40]:
df_alter = df[df.Alter.notna() & df.jahrgang_nicht_zugeordnet.notna()]
print("%s Jahre alt" % round(df_alter[df_alter.Geschlecht == 'w'].Alter.mean()))
print("parteilos")

55 Jahre alt
parteilos

## Der Durchschnitts-Gemeinderat (m) ist...

In [41]:
df_alter = df[df.Alter.notna() & df.jahrgang_nicht_zugeordnet.notna()]
print("%s Jahre alt" % round(df_alter[df_alter.Geschlecht == 'm'].Alter.mean()))
print("parteilos")

56 Jahre alt
parteilos

## Gendereinseitige Gemeinderäte

In [42]:
df_g = pd.pivot_table(df, 'Name', 'Gemeinde', columns='Geschlecht', aggfunc='count')
df_g['w'] = df_g['w'].fillna(0)
df_g['total'] = df_g.m + df_g.w
df_g['m%'] = round(100 / df_g.total * df_g.m)
df_g['w%'] = round(100 / df_g.total * df_g.w)
df_g[df_g['m%'] == 100]

Geschlecht             m    w  total     m%   w%
Gemeinde
Dachsen              5.0  0.0    5.0  100.0  0.0
Dietikon             7.0  0.0    7.0  100.0  0.0
Dägerlen             5.0  0.0    5.0  100.0  0.0
Ellikon an der Thur  5.0  0.0    5.0  100.0  0.0
Humlikon             5.0  0.0    5.0  100.0  0.0
Oetwil am See        7.0  0.0    7.0  100.0  0.0
Regensdorf           7.0  0.0    7.0  100.0  0.0
Rheinau              5.0  0.0    5.0  100.0  0.0
Wasterkingen         5.0  0.0    5.0  100.0  0.0
Weiach               5.0  0.0    5.0  100.0  0.0
Wila                 5.0  0.0    5.0  100.0  0.0
Winkel               5.0  0.0    5.0  100.0  0.0
Zumikon              7.0  0.0    7.0  100.0  0.0

### Die weiblichste Gemeinde

In [43]:
df_g = df_g.sort_values('w%', ascending=False)
df_g[df_g['w%'] >= 50]

Geschlecht         m    w  total    m%    w%
Gemeinde
Aeugst am Albis  3.0  5.0    8.0  38.0  62.0
Regensberg       2.0  3.0    5.0  40.0  60.0
Boppelsen        2.0  3.0    5.0  40.0  60.0
Kappel am Albis  2.0  3.0    5.0  40.0  60.0
Wiesendangen     3.0  4.0    7.0  43.0  57.0
Kilchberg (ZH)   3.0  4.0    7.0  43.0  57.0
Marthalen        3.0  4.0    7.0  43.0  57.0
Uster            3.0  4.0    7.0  43.0  57.0
Rümlang          3.0  4.0    7.0  43.0  57.0
Rifferswil       3.0  4.0    7.0  43.0  57.0
Ottenbach        3.0  3.0    6.0  50.0  50.0
Stallikon        3.0  3.0    6.0  50.0  50.0
Stammheim        3.0  3.0    6.0  50.0  50.0
Mönchaltorf      3.0  3.0    6.0  50.0  50.0
Dättlikon        3.0  3.0    6.0  50.0  50.0

In [54]:
df_g.sort_values('w', ascending=False).head()

Geschlecht         m    w  total    m%    w%
Gemeinde
Aeugst am Albis  3.0  5.0    8.0  38.0  62.0
Rüti (ZH)        5.0  4.0    9.0  56.0  44.0
Richterswil      5.0  4.0    9.0  56.0  44.0
Stäfa            5.0  4.0    9.0  56.0  44.0
Kilchberg (ZH)   3.0  4.0    7.0  43.0  57.0

## Gemeinderäte mit nur Männer, nur Frauen

In [44]:
df_g = pd.pivot_table(df, 'Name', 'Gemeinde', columns='Geschlecht', aggfunc='count')
df_g['w'] = df_g['w'].fillna(0)
df_g['total'] = df_g.m + df_g.w
df_g['m%'] = round(100 / df_g.total * df_g.m)
df_g['w%'] = round(100 / df_g.total * df_g.w)

print('Reine Männer-Räte: %s' % len(df_g[df_g['m%'] == 100]))
print('Reine Frauen-Räte: %s' % len(df_g[df_g['w%'] == 100]))

Reine Männer-Räte: 13
Reine Frauen-Räte: 0

## Gemeinderäte mit Mehrheit Frauen/Männer

In [45]:
df_g = pd.pivot_table(df, 'Name', 'Gemeinde', columns='Geschlecht', aggfunc='count')
df_g['w'] = df_g['w'].fillna(0)
df_g['total'] = df_g.m + df_g.w
df_g['m%'] = round(100 / df_g.total * df_g.m)
df_g['w%'] = round(100 / df_g.total * df_g.w)

print("Männer mehr 50 Prozent+: %s" % len(df_g[df_g['m%'] >= 50]))
print("Frauen mehr 50 Prozent+: %s" % len(df_g[df_g['w%'] >= 50]))

Männer mehr 50 Prozent+: 152
Frauen mehr 50 Prozent+: 15

## Das Gemeindepräsidium ('chair') ist...

In [48]:
df_pr = pd.pivot_table(df, index='Funktion', columns='Geschlecht', values='Name', aggfunc='count')
#df_pr = df_pr[df_pr.Funktion == 'chair']
df_pr['m%'] = round(100 / (df_pr['m'] + df_pr['w']) * df_pr['m'])
df_pr['w%'] = round(100 / (df_pr['m'] + df_pr['w']) * df_pr['w'])

df_pr.head()

Geschlecht    m   w    m%    w%
Funktion
chair       133  29  82.0  18.0
school        3   6  33.0  67.0

## Jüngsten Frauen

In [51]:
df[df.Geschlecht == 'w'].sort_values('Alter', ascending=True).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c
544,Dürnten,Jasmin Aeschbacher\nRessort Schutz + Sicherheit,Jasmin Aeschbacher,1993,w,FDV (Freie Demokratische Vereinigung),NaN,NaN,False,False,x,28,verschiedene
507,Glattfelden,"Michèle Dünki, SP, Jahrgang 1989",Michèle Dünki,1989,w,SP,NaN,NaN,False,False,x,32,sp
461,Ossingen,Daniela Meier,Daniela Meier,1988,w,parteilos,NaN,NaN,False,False,x,33,parteilos
656,Schleinikon,"Gemeindepräsidentin Florina Böhler, parteilos,...",Florina Böhler,1987,w,parteilos,chair,NaN,False,False,x,34,parteilos
255,Freienstein-Teufen,"Simona Hofmann, Jg. 1984",Simona Hofmann,1984,w,parteilos,NaN,NaN,False,False,x,37,parteilos

## Einzelne Frau im Gemeinderat?

In [52]:
df_w = pd.pivot_table(df, index='Gemeinde', columns='Geschlecht', values='Name', aggfunc='count')
len(df_w[df_w.w == 1])

60

## Gemeindepräsidentinnen vs Präsidenten

In [53]:
df[df.Funktion == 'chair'].groupby('Geschlecht').count()

,Gemeinde,Name,Name_cleaned,Jahrgang,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c
Geschlecht,,,,,,,,,,,,
m,133,133,133,131,132,133,4,133,133,133,131,133
w,29,29,29,28,29,29,1,29,29,29,28,29